<h1>{{ 'containers.nav' | translate }}</h1>

<clr-datagrid>
  <clr-dg-column [clrDgField]="'id'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Id</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'names'">
      <ng-container *clrDgHideableColumn="{hidden: false}">Names</ng-container>
    </clr-dg-column>
  <clr-dg-column [clrDgField]="'containerInfo.Image'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Image</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'containerInfo.Command'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Command</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'containerInfo.Created'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Created</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'containerInfo.Status'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Status</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'containerInfo.Ports'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Ports</ng-container>
  </clr-dg-column>

  <clr-dg-placeholder>{{ 'datagrid.noEntries' | translate }}</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let container of dockerContainers$ | async">
    <clr-dg-cell>{{ container.id }}</clr-dg-cell>
    <clr-dg-cell>{{ container.names }}</clr-dg-cell>
    <clr-dg-cell>{{ container.containerInfo.Image }}</clr-dg-cell>
    <clr-dg-cell>{{ container.containerInfo.Command }}</clr-dg-cell>
    <clr-dg-cell>{{ container.containerInfo.Created | date }}</clr-dg-cell>
    <clr-dg-cell>{{ container.containerInfo.Status }}</clr-dg-cell>
    <clr-dg-cell>{{ container.containerInfo.Ports }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-column-toggle>
      <clr-dg-column-toggle-title>{{ 'datagrid.selectColumns' | translate }}</clr-dg-column-toggle-title>
      <clr-dg-column-toggle-button clrType="selectAll">{{ 'datagrid.selectAll' | translate }}</clr-dg-column-toggle-button>
      <clr-dg-column-toggle-button clrType="ok">
        <clr-icon shape="check"></clr-icon>
      </clr-dg-column-toggle-button>
    </clr-dg-column-toggle>

    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      {{ 'datagrid.pagination' | translate: { first: pagination.firstItem +1, last: pagination.lastItem + 1, total: pagination.totalItems
      } }}
    </clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>
