<h1>{{ 'containers.nav' | translate }}</h1>

<clr-datagrid *ngIf="queryParams$ | async as queryParams">

  <clr-dg-column [clrDgField]="'id'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Id</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'names'">
      <ng-container *clrDgHideableColumn="{hidden: false}">Names</ng-container>
    </clr-dg-column>
  <clr-dg-column [clrDgField]="'containerInfo.ImageID'" [clrFilterValue]="queryParams?.filterByImageId">
    <ng-container *clrDgHideableColumn="{hidden: false}">Image</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'containerInfo.Command'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Command</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'containerInfo.Created'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Created</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'containerInfo.State'">
    <ng-container *clrDgHideableColumn="{hidden: false}">State</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'ports'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Ports</ng-container>
  </clr-dg-column>

  <clr-dg-placeholder>{{ 'datagrid.noEntries' | translate }}</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let container of dockerContainers$ | async">

    <clr-dg-action-overflow>
      <button class="action-item" (click)="removeDockerContainer(container)">{{ 'containers.removeContainer' | translate }}</button>
    </clr-dg-action-overflow>

    <clr-dg-cell>{{ container.id }}</clr-dg-cell>
    <clr-dg-cell>{{ container.names }}</clr-dg-cell>
    <clr-dg-cell>
      <a routerLink="/info/images" [queryParams]="{ filterById: container.containerInfo.ImageID }" >
      {{ container.containerInfo.ImageID | shortHash }}
      </a>
    </clr-dg-cell>
    <clr-dg-cell>{{ container.containerInfo.Command }}</clr-dg-cell>
    <clr-dg-cell>{{ container.containerInfo.Created * 1000 | date }}</clr-dg-cell>
    <clr-dg-cell>
      <ng-container [ngSwitch]="container.containerInfo.State">
        <span *ngSwitchCase="'restarting'" class="label label-warning">{{ container.containerInfo.State }}</span>
        <span *ngSwitchCase="'running'" class="label label-success">{{ container.containerInfo.State }}</span>
        <span *ngSwitchCase="'paused'" class="label label-warning">{{ container.containerInfo.State }}</span>
        <span *ngSwitchCase="'exited'" class="label label-danger">{{ container.containerInfo.State }}</span>
        <span *ngSwitchDefault class="label" class="label label-info">{{ container.containerInfo.State }}</span>
      </ng-container>
    </clr-dg-cell>
    <clr-dg-cell>{{ container.ports }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-column-toggle>
      <clr-dg-column-toggle-title>{{ 'datagrid.selectColumns' | translate }}</clr-dg-column-toggle-title>
      <clr-dg-column-toggle-button clrType="selectAll">{{ 'datagrid.selectAll' | translate }}</clr-dg-column-toggle-button>
      <clr-dg-column-toggle-button clrType="ok">
        <clr-icon shape="check"></clr-icon>
      </clr-dg-column-toggle-button>
    </clr-dg-column-toggle>

    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      {{ 'datagrid.pagination' | translate: { first: pagination.firstItem +1, last: pagination.lastItem + 1, total: pagination.totalItems
      } }}
    </clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>
