<h1>{{ 'containers.nav' | translate }}</h1>

<clr-datagrid *ngIf="queryParams$ | async as queryParams">

  <clr-dg-column [clrDgField]="'id'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Id</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'names'">
    <ng-container *clrDgHideableColumn="{hidden: false}">{{ 'containers.names' | translate }}</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'containerInfo.ImageID'" [clrFilterValue]="queryParams?.filterByImageId">
    <ng-container *clrDgHideableColumn="{hidden: false}">Image</ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: true}">{{ 'containers.command' | translate }}</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'containerInfo.Created'">
    <ng-container *clrDgHideableColumn="{hidden: false}">{{ 'datagrid.created' | translate }}</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'containerInfo.State'">
    <ng-container *clrDgHideableColumn="{hidden: false}">{{ 'containers.state' | translate }}</ng-container>
  </clr-dg-column>
  <clr-dg-column [style.width.px]="140">
    <ng-container *clrDgHideableColumn="{hidden: false}">Ports</ng-container>
  </clr-dg-column>
  <clr-dg-column>{{ 'datagrid.columnActions' | translate }}</clr-dg-column>

  <clr-dg-placeholder>{{ 'datagrid.noEntries' | translate }}</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let container of dockerContainers$ | async">

    <clr-dg-action-overflow>
      <button class="action-item" (click)="removeDockerContainer(container)">{{ 'containers.removeContainer' | translate }}</button>
    </clr-dg-action-overflow>

    <clr-dg-cell>{{ container.id }}</clr-dg-cell>
    <clr-dg-cell>{{ container.names }}</clr-dg-cell>
    <clr-dg-cell>
      <a routerLink="/info/images" [queryParams]="{ filterById: container.containerInfo.ImageID }">
        {{ container.containerInfo.ImageID | shortHash }}
      </a>
    </clr-dg-cell>
    <clr-dg-cell>{{ container.containerInfo.Command }}</clr-dg-cell>
    <clr-dg-cell>{{ container.containerInfo.Created * 1000 | date }}</clr-dg-cell>
    <clr-dg-cell>
      <ng-container [ngSwitch]="container.containerInfo.State">
        <span *ngSwitchCase="'restarting'" class="label label-warning">{{ container.containerInfo.State }}</span>
        <span *ngSwitchCase="'running'" class="label label-success">{{ container.containerInfo.State }}</span>
        <span *ngSwitchCase="'paused'" class="label label-warning">{{ container.containerInfo.State }}</span>
        <span *ngSwitchCase="'exited'" class="label label-danger">{{ container.containerInfo.State }}</span>
        <span *ngSwitchDefault class="label" class="label label-info">{{ container.containerInfo.State }}</span>
      </ng-container>
    </clr-dg-cell>
    <clr-dg-cell>
      <a *ngFor="let port of container.containerInfo.Ports" appExternalHref [href]="'http://' + port.IP + ':' + port.PublicPort">{{ port.PrivatePort }}:{{ port.PublicPort }}
      </a>
    </clr-dg-cell>
    <clr-dg-cell>

      <a *ngIf="container.containerInfo.State === 'running'" [title]="'containers.pause' | translate" class="grid-action" (click)="pauseDockerContainer(container)">
        <clr-icon shape="pause"></clr-icon>
      </a>

      <a *ngIf="container.containerInfo.State === 'paused'" [title]="'containers.unpause' | translate" class="grid-action" (click)="unpauseDockerContainer(container)">
        <clr-icon shape="play"></clr-icon>
      </a>

      <a *ngIf="container.containerInfo.State !== 'running' && container.containerInfo.State !== 'paused'" [title]="'containers.start' | translate" class="grid-action" (click)="startDockerContainer(container)">
        <clr-icon shape="play"></clr-icon>
      </a>

      <ng-container *ngIf="container.containerInfo.State === 'running' || container.containerInfo.State === 'paused'">
        <a [title]="'containers.stop' | translate" class="grid-action" (click)="stopDockerContainer(container)">
          <clr-icon shape="stop"></clr-icon>
        </a>
        <a [title]="'containers.kill' | translate" class="grid-action" (click)="killDockerContainer(container)">
          <clr-icon shape="power"></clr-icon>
        </a>
      </ng-container>

      <a *ngIf="container.containerInfo.State !== 'running'" [title]="'containers.removeContainer' | translate" class="grid-action" (click)="removeDockerContainer(container)">
        <clr-icon shape="trash"></clr-icon>
      </a>

    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-column-toggle>
      <clr-dg-column-toggle-title>{{ 'datagrid.selectColumns' | translate }}</clr-dg-column-toggle-title>
      <clr-dg-column-toggle-button clrType="selectAll">{{ 'datagrid.selectAll' | translate }}</clr-dg-column-toggle-button>
      <clr-dg-column-toggle-button clrType="ok">
        <clr-icon shape="check"></clr-icon>
      </clr-dg-column-toggle-button>
    </clr-dg-column-toggle>

    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      {{ 'datagrid.pagination' | translate: { first: pagination.firstItem +1, last: pagination.lastItem + 1, total: pagination.totalItems
      } }}
    </clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>
