<h1>{{ 'dashboard.nav' | translate }}</h1>

<ng-container *ngIf="dockerSystemInfo$ | async as dockerSystemInfo">

  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
            <div class="card-title">{{ 'images.nav' | translate }}</div>
          <div class="card-text">
            ...
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">Footer Action 1</button>
          <button class="btn btn-sm btn-link">Footer Action 2</button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="card-title">{{ 'containers.nav' | translate }}</div>
          <div class="card-text">

            <a routerLink="/info/containers" [queryParams]="{ filterByState: '~running' }"
              class="label label-success clickable">
              running
              <span class="badge badge-success">{{ dockerSystemInfo.ContainersRunning }}</span>
            </a>
            <a routerLink="/info/containers" [queryParams]="{ filterByState: '~paused' }"
              class="label label-warning clickable">
              paused
              <span class="badge badge-warning">{{ dockerSystemInfo.ContainersPaused }}</span>
            </a>
            <a routerLink="/info/containers" [queryParams]="{ filterByState: '~stopped' }"
              class="label label-danger clickable">
              stopped
              <span class="badge badge-danger">{{ dockerSystemInfo.ContainersStopped }}</span>
            </a>

          </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-sm btn-link">create new</button>
          </div>

      </div>
    </div>



    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="card-title">
            Block
          </div>
          <div class="card-text">
            ...
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">Footer Action 1</button>
          <button class="btn btn-sm btn-link">Footer Action 2</button>
        </div>
      </div>
    </div>
  </div>

</ng-container>
