<h1>{{ 'images.nav' | translate }}</h1>

<clr-datagrid>
  <clr-dg-column [clrDgField]="'Id'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Id</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'ParentId'">
    <ng-container *clrDgHideableColumn="{hidden: true}">ParentId</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'RepoTags'">
    <ng-container *clrDgHideableColumn="{hidden: false}">RepoTags</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'RepoDigests'">
    <ng-container *clrDgHideableColumn="{hidden: true}">RepoDigests</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'Created'">
    <ng-container *clrDgHideableColumn="{hidden: true}">Created</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'Size'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Size</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'VirtualSize'">
    <ng-container *clrDgHideableColumn="{hidden: true}">VirtualSize</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'Labels'">
    <ng-container *clrDgHideableColumn="{hidden: true}">Labels</ng-container>
  </clr-dg-column>

  <clr-dg-placeholder>{{ 'datagrid.noEntries' | translate }}</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let dockerImage of dockerImages$ | async">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="removeDockerImage(dockerImage)">{{ 'images.removeImage' | translate }}</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{ dockerImage.Id }}</clr-dg-cell>
    <clr-dg-cell>{{ dockerImage.ParentId }}</clr-dg-cell>
    <clr-dg-cell>{{ dockerImage.RepoTags }}</clr-dg-cell>
    <clr-dg-cell>{{ dockerImage.RepoDigests }}</clr-dg-cell>
    <clr-dg-cell>{{ dockerImage.Created }}</clr-dg-cell>
    <clr-dg-cell>{{ dockerImage.Size | fileSize }}</clr-dg-cell>
    <clr-dg-cell>{{ dockerImage.VirtualSize | fileSize }}</clr-dg-cell>
    <clr-dg-cell>{{ dockerImage.Labels }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-column-toggle>
      <clr-dg-column-toggle-title>{{ 'datagrid.selectColumns' | translate }}</clr-dg-column-toggle-title>
      <clr-dg-column-toggle-button clrType="selectAll">{{ 'datagrid.selectAll' | translate }}</clr-dg-column-toggle-button>
      <clr-dg-column-toggle-button clrType="ok">
        <clr-icon shape="check"></clr-icon>
      </clr-dg-column-toggle-button>
    </clr-dg-column-toggle>

    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      {{ 'datagrid.pagination' | translate:{ first: pagination.firstItem +1, last: pagination.lastItem + 1, total: pagination.totalItems}
      }}
    </clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>
