<header class="header-6">
  <div class="branding">
  </div>
  <div class="header-nav">
    <a class="active nav-link nav-text">Dashboard</a>
  </div>
  <div class="header-actions">
    <a class="nav-link nav-icon">
      <clr-icon shape="cog"></clr-icon>
    </a>
  </div>
</header>
<div>
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <a routerLink="/test" routerLinkActive="test">Test</a>
  <a routerLink="/" routerLinkActive="">Root</a>

  <button (click)="changeLanguage('de')">de</button>
  <button (click)="changeLanguage('en')">en</button>

  <clr-icon shape="floppy"></clr-icon>

  <br>
  <div>{{ router$ | async }}</div>
  <br>
  <dir>{{ dockerImages$ | async | json }}</dir>
</div>
