<div class="main-container">
  <div class="alert alert-app-level alert-warning">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
        </div>
        <div class="alert-text">
          foobar!!
        </div>
      </div>
    </div>
  </div>

  <header class="header-6">

    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Project Clarity</span>
      </a>
    </div>

    <div class="header-nav">
      <a class="nav-link nav-icon" routerLink="/info" routerLinkActive="active">
        <clr-icon shape="info-standard"></clr-icon>
      </a>
      <a class="nav-link nav-icon" routerLink="/test" routerLinkActive="active">
        <clr-icon shape="folder"></clr-icon>
      </a>
    </div>

    <div class="header-actions">
      <a class="nav-link nav-icon">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </header>

  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item" *ngFor="let subNav of subNav$ | async as subNavs">
        <a class="nav-link nav-icon" [routerLink]="subNav.link" routerLinkActive="active">{{ subNav.key | translate }}</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <a class="nav-link active">
          Nav Element 1
        </a>
        <a class="nav-link">
          Nav Element 2
        </a>
        <section class="nav-group collapsible">
          <input id="tabexample1" type="checkbox">
          <label for="tabexample1">Collapsible Nav Element</label>
          <ul class="nav-list">
            <li>
              <a class="nav-link">Link 1</a>
            </li>
            <li>
              <a class="nav-link">Link 2</a>
            </li>
          </ul>
        </section>
        <section class="nav-group">
          <input id="tabexample2" type="checkbox">
          <label for="tabexample2">Default Nav Element</label>
          <ul class="nav-list">
            <li>
              <a class="nav-link">Link 1</a>
            </li>
            <li>
              <a class="nav-link">Link 2</a>
            </li>
            <li>
              <a class="nav-link active">Link 3</a>
            </li>
            <li>
              <a class="nav-link">Link 4</a>
            </li>
            <li>
              <a class="nav-link">Link 5</a>
            </li>
            <li>
              <a class="nav-link">Link 6</a>
            </li>
          </ul>
        </section>
      </section>
    </nav>

  </div>

</div>
