<div class="main-container">
  <div *ngIf="hasErrorMessage$ | async" class="alert alert-app-level alert-warning">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
        </div>
        <div class="alert-text">
          {{ errorMessage$ | async }}
        </div>
      </div>
    </div>
  </div>

  <header class="header-6">

    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Project Clarity</span>
      </a>
    </div>

    <div class="header-nav">
      <a class="nav-link nav-icon" routerLink="/info" routerLinkActive="active">
        <clr-icon shape="info-standard"></clr-icon>
      </a>
      <a class="nav-link nav-icon" routerLink="/test" routerLinkActive="active">
        <clr-icon shape="folder"></clr-icon>
      </a>
    </div>

    <div class="header-actions">

      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a (click)="langEn()" clrDropdownItem>en</a>
          <a (click)="langGer()" clrDropdownItem>de</a>
        </clr-dropdown-menu>
      </clr-dropdown>

    </div>
  </header>

  <nav *ngIf="hasSubNav$ | async" class="subnav">
    <ul class="nav">
      <li *ngFor="let subNav of subNav$ | async" class="nav-item">
        <a class="nav-link nav-icon" [routerLink]="subNav.link" routerLinkActive="active">{{ subNav.key | translate }}</a>
      </li>
    </ul>
  </nav>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

    <nav *ngIf="hasSideNav$ | async" class="sidenav">
      <section class="sidenav-content">
        <section class="nav-group">
          <ul class="nav-list">
            <li *ngFor="let sideNav of sideNav$ | async">
              <a class="nav-link" [routerLink]="sideNav.link" routerLinkActive="active">{{ sideNav.key | translate }}</a>
            </li>
          </ul>
        </section>
      </section>
    </nav>

  </div>

</div>
