<div class="main-container">

  <clr-alert *ngFor="let alert of alerts$ | async as alerts" [clrAlertType]="'alert-'+ alert.type" (clrAlertClosedChange)="dismissAlert(alert)"
    [clrAlertAppLevel]="true">
    <div clr-alert-item class="alert-item">
      <span class="alert-text">
        {{ alert.message }}
      </span>
      <div *ngIf="alert.action" class="alert-actions">
        <button class="btn alert-action" (click)="dismissAndDispatch(alert)">{{ alert.action.key | translate }}</button>
      </div>
    </div>
  </clr-alert>

  <header class="header-6">

    <div class="branding">
      <span>
        <clr-icon shape="vm"></clr-icon>
        <span class="title">Hot Dock</span>
      </span>
    </div>

    <div class="header-nav">
      <a class="nav-link nav-icon" routerLink="/info" routerLinkActive="active">
        <clr-icon shape="host"></clr-icon>
      </a>
    </div>

    <div class="header-actions">
      <a class="nav-link nav-icon" routerLink="/settings" routerLinkActive="active">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </header>

  <ng-container *ngIf="isDockerHealthy$ | async; else docker_error">
    <nav *ngIf="hasSubNav$ | async" class="subnav">
      <ul class="nav">
        <li *ngFor="let subNav of subNav$ | async" class="nav-item">
          <a class="nav-link nav-icon" [routerLink]="subNav.link" routerLinkActive="active">{{ subNav.key | translate }}</a>
        </li>
      </ul>
    </nav>

    <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>

      <nav *ngIf="hasSideNav$ | async" class="sidenav">
        <section class="sidenav-content">
          <section class="nav-group">
            <ul class="nav-list">
              <li *ngFor="let sideNav of sideNav$ | async">
                <a class="nav-link" [routerLink]="sideNav.link" routerLinkActive="active">{{ sideNav.key | translate }}</a>
              </li>
            </ul>
          </section>
        </section>
      </nav>
    </div>
  </ng-container>

</div>

<ng-template #docker_error>
  <app-docker-error></app-docker-error>
</ng-template>
