<clr-wizard #wizard [(clrWizardOpen)]="open" clrWizardSize="lg"
  (clrWizardOnFinish)="createDockerContainer(imageId)">
  <clr-wizard-title>Medium-Sized Wizard</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Create</clr-wizard-button>

  <clr-wizard-page #image>
      <ng-template clrPageTitle>Select image</ng-template>
      {{ imageId | json }}
  </clr-wizard-page>

  <clr-wizard-page #parameters>
    <ng-template clrPageTitle>Parameters</ng-template>
  </clr-wizard-page>

</clr-wizard>
