<clr-wizard #wizard [(clrWizardOpen)]="open" clrWizardSize="lg"
  (clrWizardOnFinish)="createDockerContainer()">
  <clr-wizard-title>Create Container</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Create</clr-wizard-button>

  <clr-wizard-page #options [clrWizardPageNextDisabled]="!containerOptions.valid">
      <ng-template clrPageTitle>Options</ng-template>
      <form class="compact" [formGroup]="containerOptions">
        <section class="form-block">

          <div class="form-group row">
              <div class="col-md-3">
                <label class="required" for="Image">Image</label>
              </div>
              <div class="col-md-9">
                <input class="form-control" type="text" formControlName="Image" placeholder="Enter value here">
              </div>
          </div>

        </section>

    </form>
  </clr-wizard-page>

</clr-wizard>
